<form [formGroup]="form" (ngSubmit)="guardar()">
  <div mat-dialog-title>{{tituloPagina}}</div>

  <mat-dialog-content id="detalle-campos">
    <app-mensaje-error [mensajeError]="mensajeError" *ngIf="mensajeError != null"></app-mensaje-error>
    <mat-label>Usuario: {{data.email}}</mat-label>
    <mat-form-field hintLabel="Entre 4 y 40 carácteres" appearance="fill">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput #nuevoPasswordForm formControlName="nuevoPassword" minlength="4" maxlength="40" autocomplete="new-password">
      <mat-hint align="end">{{(nuevoPasswordForm.value != null && nuevoPasswordForm.value.length) || 0}}/40</mat-hint>
      <mat-error *ngIf="mostrarValidacion('nuevoPassword', 'required')">{{ac.G_VAL_CAMPO_OBLIGATORIO}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirmar nueva contraseña</mat-label>
      <input matInput type="password" formControlName="confirmarNuevoPassword" [errorStateMatcher]="matcher" minlength="4" maxlength="40" autocomplete="new-password">
      <mat-error *ngIf="form.hasError('passwordsDiferentes')">{{ac.G_VAL_PASSWORD_DIFERENTE}}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-dialog-close mat-flat-button type="button" cdkFocusInitial>{{ac.L_CANCELAR}}</button>
    <button mat-flat-button type="submit" [disabled]="!form.valid" color="accent">{{ac.L_GUARDAR}}</button>
  </mat-dialog-actions>
</form>
