.mat-column-caracterPrincipal-acronimo { flex: 0 0 70px; }
.mat-column-nombreCorto { flex: 0 0 310px; }
[class*="mat-column-lugar"] { flex: 1 0 350px; }
.mat-column-caracteres { flex: 0 0 207px; }
.mat-column-visible,
.mat-column-pendienteRevisar  { flex: 0 0 56px; }
