.mat-column-caracter-acronimo { flex: 0 0 86px; }
.mat-column-categoria { flex: 0 0 100px; }
.mat-column-orden { flex: 0 0 80px; }
.mat-column-nombre { flex: 1 0 350px; }
.mat-column-entidad-nombreCorto { flex: 0 0 310px; }
