<div id="contenedor">
  <div id="cabecera">
    <div class="titulo">
      <mat-label>{{ac.PERFIL}}</mat-label>
      <mat-label>Aquí podrá gestionar sus datos de perfil.</mat-label>
    </div>
  </div>

  <form [formGroup]="formPerfil" (ngSubmit)="actualizarPerfil()">
    <div class="column">
      <div class="row column-lt-md flex-1-childs">
        <!--Avatar del usuario-->
        <div class="column">
          <div id="seccion">
            <div class="titulo">
              <mat-label>Avatar</mat-label>
              <mat-label>¿Con que personaje te identificas?</mat-label>
            </div>
          </div>

          <div class="row column-lt-sm flex-1-childs justify-around align-center">
            <img class="avatar-3x" [src]="avatar | rutaAvatarUsuario">

            <div class="row">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
              <img [class]="avatar | avatarSeleccionado:'avatar1'" [src]="'avatar1' | rutaAvatarUsuario" (click)="avatar = 'avatar1'">
              <img [class]="avatar | avatarSeleccionado:'avatar2'" [src]="'avatar2' | rutaAvatarUsuario" (click)="avatar = 'avatar2'">
              <img [class]="avatar | avatarSeleccionado:'avatar3'" [src]="'avatar3' | rutaAvatarUsuario" (click)="avatar = 'avatar3'">
            </div>
          </div>
        </div>

        <!--Datos del usuario-->
        <div class="column separador-vertical-lt-md">
          <div id="seccion">
            <div class="titulo">
              <mat-label>Datos</mat-label>
              <mat-label>Modifica tus datos de usuario y/o establece una nueva contraseña</mat-label>
            </div>
          </div>

          <app-mensaje-error [mensajeError]="mensajeError" *ngIf="mensajeError != null"></app-mensaje-error>

          <div class="row flex-auto-childs">
            <mat-form-field hintLabel="El email no puede modificarse" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email">
            </mat-form-field>
            <mat-form-field hintLabel="Max: 100 carácteres" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput #nombreForm formControlName="nombre" maxlength="100">
              <mat-hint align="end">{{(nombreForm.value != null && nombreForm.value.length) || 0}}/100</mat-hint>
              <mat-error *ngIf="mostrarValidacion('nombre', 'required')">{{ac.G_VAL_CAMPO_OBLIGATORIO}}</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="Max: 500 carácteres" appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input matInput #apellidosForm formControlName="apellidos" maxlength="500">
              <mat-hint align="end">{{(apellidosForm.value != null && apellidosForm.value.length) || 0}}/500</mat-hint>
              <mat-error *ngIf="mostrarValidacion('apellidos', 'required')">{{ac.G_VAL_CAMPO_OBLIGATORIO}}</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="Entre 4 y 20 carácteres" appearance="outline">
              <mat-label>Nueva contraseña</mat-label>
              <input matInput [type]="ocultarPasword ? 'password' : 'text'" #nuevoPasswordForm formControlName="nuevoPassword" minlength="4" maxlength="20" autocomplete="new-password">
              <button mat-icon-button matSuffix type="button" (click)="ocultarPasword = !ocultarPasword">
                <mat-icon>{{ocultarPasword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint align="end">{{(nuevoPasswordForm.value != null && nuevoPasswordForm.value.length) || 0}}/20</mat-hint>
              <mat-error *ngIf="mostrarValidacion('nuevoPassword', 'required')">{{ac.G_VAL_CAMPO_OBLIGATORIO}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar nueva contraseña</mat-label>
              <input matInput type="password" formControlName="confirmarNuevoPassword" [errorStateMatcher]="matcher" minlength="4" maxlength="20" autocomplete="new-password">
              <mat-error *ngIf="formPerfil.hasError('passwordsDiferentes')">{{ac.G_VAL_PASSWORD_DIFERENTE}}</mat-error>
            </mat-form-field>
          </div>

          <div class="row column-lt-sm flex-auto-childs">
            <button mat-flat-button type="submit" [disabled]="!formPerfil.valid" color="accent">Actualizar perfil</button>
            <button mat-button type="button" color="warn" (click)="eliminarCuenta()">Eliminar cuenta</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
